<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    <script>

    </script>
    <link rel="stylesheet" href="mystyle.css">
    <!-- Latest compiled and minified CSS -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> --}}

    <!-- jQuery library -->
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
    <!-- Latest compiled JavaScript -->
    {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>

    <title>Document</title>
</head>

<body>
    
    <div class="container">
        <h1 class="alert alert-success">Login</h1>
        <h1 class="alert alert-primary">Login</h1>
        <h1 class="alert alert-danger">Login</h1>
        <h1 class="alert alert-secondary">Login</h1>

        <form action="/doLogin" method="post">
            <div class="form-group">
                <label for="">ABc</label>
                <input type="text" class="form-control" name="txtName">
            {{err.name}}

            </div>
            
            <div class="form-group">
                <label for="">ABc</label>
                <input type="password" name="txtPassword" id="" class="form-control">
            {{err.password}}

            </div>
            <div class="form-group">
                <a href="" class="btn btn-danger">Login</a>
            </div>
        </div>
    </form>
    </div>
    
    <a href="/register">Register</a>
    <script src="myscript.js"></script>


</body>

</html>