<h1>Category List</h1>
<br>
<a href="/suppliers/add" class="btn btn-primary"> <i class="fa fa-plus"></i>Add new category</a>
<br>
<br>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Description</th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a href="/suppliers/view"><i class="fa fa-eye"></i></a>
            <a href="/suppliers/delete"><i class="fa fa-trash"></i></a>
            <a href="/suppliers/update"><i class="fa fa-pen"></i></a>
        </td>
    </tr>
</table>